@media screen and (max-width: 425px){
    header h1 {
        margin-left: 20px;
        font-size: 1.5rem;
    }
    header nav {
        width: 70%;
        margin: 0 auto;
    }
    header a {
        text-align: center;
    }
    #banner {
        padding-top: 250px;
        padding-bottom: 350px;
    }
    #banner > div h1 {
        font-size: 100%;
    }
    #details {
        width: 100%;
        background-repeat: no-repeat;
        margin-top: 0px;
        padding-top: 100px;
    }
    #details > div {
        width: 90%;
    }
    #rsociaux {
        width: 100%;
        margin-left: 10px;
    }
    #competences {
        width: 100%;
        margin: 0;
    }
    #competences > div {
        width: 100%;
        margin: 0;
    }
    #programmations {
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
    }
    #programmations div {
        width: 100%;
        margin: 0 auto;
        justify-content: space-evenly;
    }
    #programmations h1 {
        text-align: center;
    }
    #programmations > div img {
        width: 50px;
        height: 50px;
    }
    #adobe {
        margin: 0;
        width: 100%;
        margin-top: 30px;
    }
    #adobe > div {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        justify-content: space-around;
    }
    #adobe > div img {
        width: 50px;
        height: 50px;
    }
    .allrea > div > div {
        display: none;
    }
    #contact {
        padding-bottom: 100px;
    }
    th {
        padding: 20px;
    }
    .hidden {
        display: none;
    }
    #contact > div {
        background-color: #00000000;
    }
    .allrea > div > div {
        opacity: 100%;
    }
}
