/*https://coolors.co/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08*/
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    font-family: 'Oswald', sans-serif;
    background-color: #03071e;
    color: whitesmoke;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
/*header*/
header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav {
    justify-content: space-between;
}
header nav a {
    color: #9d0208;
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    transition: border 1s;
}
header nav a:hover {
    text-decoration: #9d0208 underline;
}
/*banner*/
#banner {
    padding-top: 300px;
    padding-bottom: 410px;
    width: 100%;
}
#banner > div {
    display: flex;
    width: 40%;
    margin: 0 auto;
    background-color: #03071e55;
    padding: 10px;
    border-radius: 30px;
}
#banner > div h1 {
    opacity: 100%;
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}
#banner > div > hr {
    border: #9d0208 3px solid;
    background-color: #9d0208;
    margin: 0 auto;
    transition: border 500ms;
}
/*details*/
#details {
    background-attachment: fixed;
    margin-top: 50px;
    padding-top: 150px;
    padding-bottom: 200px;
    background-image: url('../img/banner.jpg');
}
#details h1 {
    font-size: 2.5rem;
    text-align: center;
}
#details > hr {
    border: #9d0208 2px solid;
    width: 20%;
    margin: 0 auto;
}
#details > div {
    background-color: #03071eee;
    margin-top: 50px;
    display: flex;
    width: 50%;
}
#details > div > hr {
    border: #9d0208 3px solid;
    background-color: #9d0208;
    margin: 0 auto;
}
#details > div > div > img {
    width: 100%;
}
#rsociaux {
    width: 40%;
    margin-left: 10px;
}
#rsociaux img {
    width: 10%;
}
#details > div > div p {
    text-align: justify;
    width: 95%;
    margin: 0 auto;
    font-size: 1.25rem;
    line-height: 35px;
}
/*Compétences*/
#competences {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #262c3f;
}
#competences > h1 {
    font-size: 2.5rem;
    text-align: center;
}
#competences > hr {
    border: #9d0208 2px solid;
    width: 20%;
    margin: 0 auto;
}
#competences > div {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}
#competences > div hr {
    border: #9d0208 3px solid;
    background-color: #9d0208;
    margin: 0 auto; 
}
#programmations {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#programmations > h2 {
    font-size: 2rem;
    text-align: center;
}
#programmations > hr {
    border: #9d0208 3px solid;
    background-color: #9d0208;
    margin: 0 auto;
    width: 50%;
}
#programmations > div {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#programmations > div img {
    width: 120px;
    height: 120px;
}
#adobe {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#adobe > h2 {
    font-size: 2rem;
    text-align: center;
}
#adobe > hr {
    border: #9d0208 3px solid;
    background-color: #9d0208;
    margin: 0 auto;
    width: 50%;
}
#adobe > div {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
#adobe > div img {
    width: 120px;
    height: 120px;
}
/*Creations*/
#creations {
    padding-top: 50px;
    background-color: #03071e;
    width: 100%;
    padding-bottom: 100px;
}
#creations > h1 {
    font-size: 2.5rem;
    text-align: center;
}
#creations > hr {
    border: #9d0208 2px solid;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.allrea {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
}
.allrea > div {
    display: flex;
    width: 33%;
    max-width: 33%;
}
.allrea > div > img {
    width: 100%;
}
.allrea h2 {
    text-align: center;
}
.allrea > div > div {
    opacity: 0%;
    position: absolute;
    width: 33%;
    height: 100%;
    background-color: #00000099;
    transition: opacity 300ms;
}
.allrea > div > div > p {
    padding: 30px;
    line-height: 20px;
    text-align: justify;
}
.allrea > div > div > a {
    padding: 15px;
    background-color: #9d0208;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    position: absolute;
    left: 40%;
    right: 40%;
    bottom: 5px;
    text-decoration: none;
}
.allrea > div > div:hover {
    opacity: 100%;
}
.allrea > div > div > a:hover {
    text-decoration: underline;
}
.bloc2 {
    margin-top: 20px;
}
/*Contact*/
#contact {
    background-color: #060811;
    padding-top: 50px;
    padding-bottom: 100px;
}
#contact h1 {
    font-size: 2.5rem;
    text-align: center;
}
#contact > hr {
    border: #9d0208 2px solid;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 50px;
}
#contact img {
    width: 20%;
}
#pdf {
    background-color: #9d0208;
    color: white;
    width: 90%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}
#pdf:hover {
    text-decoration: underline;
}
#contact > div > div {
    margin-top: 100px;
    background-color: #262c3f;
    width: 20%;
    margin: 0 auto;
    padding: 20px;
}
#contact h2 {
    margin-top: 30px;
}
#first {
    display: flex;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#contact div > div:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
form {
    width: 70%;
    margin:  0 auto;
}
textarea {
    max-width: 100%;
}
#erase {
    background-color: #9d0208;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
}
#send {
    background-color: #9d0208;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
}
